extends layout

block content
  h1= title
  p Welcome to #{title}


    <form action="/register/registerUser" method="post">
        <div>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password">
        </div>
        <div>
        <label for="email">Email Address:</label>
        <input type="email" name="email" id="email">
        </div>
        <div>
        <input type="submit" value="Register">
        </div>
    </form>

    <form action="/register/login" method="post">
        <div>
        <label for="email">Email Address:</label>
        <input type="email" name="email" id="email">
        </div>
        <div>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password">
        </div>
        <div>
        <input type="submit" value="Login">
        </div>
    </form>

    <form action="/skipass/buyPass" method="post">
        <div>
        <input type="submit" value="buySkipass">
        </div>
    </form>

    <form action="/skipass/showPass" method="get">
        <div>
        <input type="submit" value="showSkipass">
        </div>
    </form>