extends layout

block content
  h1= title
  p Welcome to #{title} 
  p  #{token}

  <form action="/skipass/showPass" method="get">
    <div>
    <input type="submit" value="showSkipass">
    </div>
  </form>